@media all {
  /* .pageContainer {
    display: none;
  } */
}

/* hides the material to print for the page viewer */
@media screen {
  .pageContainer {
    display: none;
  }
}

@media print {
  body {
    margin: 5rem;
  }

  .no-break-inside {
    /** apply this class to every component that shouldn't be cut off between to pages of your PDF/HTML */
    break-inside: "avoid";
  }

  .break-before {
    /** apply this class to every component that should always display on next page */
    break-before: "always";
  }
}
