/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
//!UTILES centrar, alinear
//clase para centrar tablas y otros objetos */
.center {
  margin-left: auto;
  margin-right: auto;
}

/*centra objetos verticalmente */

.vertical_center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-70%);
}

/** tamaños de letra - pantalla
cambia tamaño todas las letras  para pantalla pequeña   */
@media (max-width: 767px) {
  /* change this, by default 1140px */
  html {
    font-size: 90% !important;
  }
}

/* define un tamaño maximo de j pantalla  */
@media (min-width: 1200px) {
  .container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;
  }
}
